<div class="modal-header">
    <h4 class="modal-title">Archivo de invitacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>¿Quieres descargar el archivo de invitacion?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="invite()">Descargar</button>
  </div>
  