<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0 text-center">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white">asambleas.com</a></li>
                    <li><a class="text-white">+1 234 567 890</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 text-center">
                <h5>Mas de Asambleas.com</h5>
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar a tortor sed rutrum.
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 text-center">
                <h5>Redes sociales</h5>
                <ul class="list-unstyled">
                    <li>Facebook</li>
                    <li>Youtube</li>
                    <li>X</li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-4">
            <p class="mb-0">Asambleas.com</p>
        </div>
    </div>
</footer>