<!-- Vista inicial del superadmin -->
<app-animation></app-animation>
<app-nav></app-nav>
<div class="container py-3">
    <div class="abs-center">
        <div class="card shadow border-0">
            <div class="card-body">
                <h2 class="text-center fs-2 text-primary mb-4 ">Administradores</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3">

                    <button type="button" class="btn btn-success mb-3" (click)="crearAdmin()">
                        <i class="material-icons align-middle me-1">add_circle</i>
                        Crear nuevo administrador
                    </button>

                    <div class="input-group w-auto">
                        <input type="text" class="form-control" placeholder="Buscar administrador..."
                            [(ngModel)]="searchAdmin" (input)="onSearchTermChange()" />
                        <span class="input-group-text" id="basic-addon1">
                            <i class="material-icons">search</i>
                        </span>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id_documentos</th>
                                <th scope="col">Numero de documento</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Conjunto</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ad of filteredAdmins; let i = index; trackBy: trackById">
                                <th scope="row">{{ (page - 1) * pageSize + (i + 1) }}</th>
                                <td>{{ ad.id_tipo_documento}}</td>
                                <td>{{ ad.nro_documento }}</td>
                                <td>{{ ad.nombre }}</td>
                                <td>{{ ad.correo }}</td>
                                <td>{{ ad.telefono }}</td>
                                <td class="d-flex justify-content-center ">
                                    <button class="btn text-primary" data-bs-toggle="modal"
                                        [attr.data-bs-target]="'#modalConjuntos' + i">
                                        Ver Conjuntos
                                    </button>
                                    <div class="modal fade" [id]="'modalConjuntos' + i" tabindex="-1"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary text-white">
                                                    <h5 class="modal-title">Conjuntos de {{ ad.nombre }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ol
                                                        *ngIf="ad.nombre_conjunto && ad.nombre_conjunto.length > 0; else noConjuntos">
                                                        <li *ngFor="let conjunto of ad.nombre_conjunto">{{ conjunto }}
                                                        </li>
                                                    </ol>
                                                    <ng-template #noConjuntos>
                                                        <p>No hay conjuntos asignados.</p>
                                                    </ng-template>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ ad.tipo_rol}}</td>
                                <td>{{ ad.estado }}</td>
                                <td class="d-flex justify-content-start">
                                    <button class="btn btn-warning" (click)="editarAdmin(ad.id_admin ?? 0)"
                                        style="font-size: 20px; margin-right: 5px;" title="Editar"
                                        [disabled]="ad.estado === 'Inactivo'">
                                        <i class="material-icons align-middle"
                                            style="font-size: 20px; margin-right: 5px;">edit</i>
                                    </button>
                                    <button class="btn"
                                        [ngClass]="{'btn-success': ad.estado === 'Activo', 'btn-danger': ad.estado === 'Inactivo'}"
                                        [disabled]="ad.estado === 'Inactivo'" (click)="toggleEstado(ad)">
                                        <span *ngIf="ad.estado === 'Activo'" class="material-icons"
                                            title="Activo">check</span>
                                        <span *ngIf="ad.estado === 'Inactivo'" class="material-icons"
                                            title="Inactivo">close</span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="filteredAdmins.length === 0">
                                <td colspan="10" style="text-align: center">No se encontraron administradores.</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <!-- Paginación y selector de elementos por página -->
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="totalAdmins" [(page)]="page" [pageSize]="pageSize"
                        (pageChange)="refreshAdmins()">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>